/* Box Model */

* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* Clear Fix Hack */

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

/* Elements */

a, a:link, a:visited {
	text-decoration:none;
	color:inherit;
	color:#000000;
	background-color:#BBFFFF;
}

a:hover, a:active {
	text-decoration:none;
	color:#ffffff;
	background-color:#000000;
	transition:  all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

html, body {
    min-width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family:'Source Sans Pro',helvetica,arial,sans-serif;
    font-weight:700;
    background-color:#ffffff;
}

/* Typography */

h2 {
	font-size:80px;
	margin-bottom: 40px;
	transition:  all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	h2 {
		font-size:64px;
		margin-bottom: 32px;
	}
}

@media only screen and (max-width:767px) {
	h2 {
		font-size:32px;
		margin-bottom: 16px;
	}
}

h3 {
	font-size:48px;
	margin-bottom: 24px;
	transition:  all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	h3 {
		font-size:32px;
		margin-bottom: 16px;
	}
}

@media only screen and (max-width:767px) {
	h3 {
		font-size:24px;
		margin-bottom: 12px;
	}
}

/* Logo */

#logo {
	width:160px;
	height:160px;
	margin-bottom: 40px;
	transition:  all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	#logo {
		width:128px;
		height:128px;
		margin-bottom: 32px;
	}
}

@media only screen and (max-width:767px) {
	#logo {
		width:64px;
		height:64px;
		margin-bottom: 16px;
	}
}

/* Layout */

#wrapper {
	margin:auto;
	padding:160px;
	width:100%;
	height:100%;
	overflow:auto;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	#wrapper {
		padding:128px;
	}
}

@media only screen and (max-width:767px) {
	#wrapper {
		padding:64px;
	}
}